@import url('https://fonts.googleapis.com/css?family=Jua');

* {
    font-family: 'Jua', sans-serif;
}

.container {
    margin: auto;
    border: black 2px solid;
    width: 350px;
    padding: 20px;
    overflow: hidden;
    height: 330px;
    background: white;
}

.container:after {
    content:'';
    display:block; /* or whatever else than inline */
    clear:both;
}

.input {
    padding: 10px;
    background: white;
}

button {
    background: #6FA69C;
    padding: 5px;
    border: black 2px solid;
    box-shadow: 4px 4px black;
    float: right;
    margin-right: 40px;
    color: #FFFCF5;
}

button:hover {
    box-shadow: 6px 6px black;
    font-size: 1.05em;
}

button:active {
    box-shadow: 2px 2px black;
    font-size: .95em;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #FFFCF5;
    background:  #6FA69C;
}

#comments {
    display: block;
}

input, select, textarea {
    border: solid black 2px;
    background: white;
}

textarea {
    width: 300px;
    height: 100px;
}

h3 {
    text-decoration: underline;
    background: white;
}

p, label, select {
    background: white;
}