@import url('https://fonts.googleapis.com/css?family=Jua');

* {
    font-family: 'Jua', sans-serif;
}

.container {
    margin: auto;
    border: black 2px solid;
    width: 350px;
    padding: 20px;
    overflow: hidden;
    height: 330px;
}

.container:after {
    content:'';
    display:block; /* or whatever else than inline */
    clear:both;
}

.input {
    padding: 10px
}

button {
    background: #6FA69C;
    padding: 5px;
    border: black 2px solid;
    box-shadow: 4px 4px;
    float: right;
    margin-right: 40px;
}

button:hover {
    box-shadow: 6px 6px;
    font-size: 1.05em;
}

button:active {
    box-shadow: 2px 2px;
    font-size: .95em;
}

button:focus {
    outline: none;
}

#comments {
    display: block;
}

input, select, textarea {
    border: solid black 2px;
}

textarea {
    width: 300px;
    height: 100px;
}